#home{
background-image: url('san_antonio_skyline.jpg');
 height: 500px;
  width: 100%;
}

.profile{
width: 520px;
}

#meetProfile{
  width: 320px;
  display: center;
}

#about{
  justify-content: center;
}